<li class="nav-item nav-category"><span class="nav-link">Allowances</span></li>
<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#allow" aria-expanded="false" aria-controls="allow">
        <span class="menu-title">Allowances</span>
        <i class="icon-diamond menu-icon"></i>
    </a>
    <div class="collapse" id="allow">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexJCEAllowance", "Pay")">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexSCEAllowance", "Pay")">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>
@*<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#FLA" aria-expanded="false" aria-controls="FLA">
        <span class="menu-title">Family Lodging</span>
        <i class="icon-diamond menu-icon"></i>
    </a>
    <div class="collapse" id="FLA">
        <ul class="nav flex-column sub-menu">
            @*<li class="nav-item"> <a class="nav-link" href="#">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
           <li class="nav-item"> <a class="nav-link" href="#">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>*@

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#VMA" aria-expanded="false" aria-controls="VMA">
        <span class="menu-title">Vehicle Maintenance</span>
        <i class="icon-diamond menu-icon"></i>
    </a>
    <div class="collapse" id="VMA">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>