
<li class="nav-item nav-category"><span class="nav-link">Deductions</span></li>
<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#deduc" aria-expanded="false" aria-controls="deduc">
        <span class="menu-title">Deductions</span>
        <i class="icon-diamond menu-icon"></i>
    </a>
    <div class="collapse" id="deduc">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>