
<li class="nav-item nav-category"><span class="nav-link">Deductions</span></li>
<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#deduc1" aria-expanded="false" aria-controls="deduc1">
        <span class="menu-title">Standard Deductions</span>
        <i class="icon-diamond menu-icon"></i>
    </a>
    <div class="collapse" id="deduc1">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexJCEDeduction1","Pay")">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexSCEDeduction1","Pay")">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#deduc2" aria-expanded="false" aria-controls="deduc2">
        <span class="menu-title">Other Deductions</span>
        <i class="icon-diamond menu-icon"></i>
    </a>
    <div class="collapse" id="deduc2">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexJCEDeduction2","Pay")">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexSCEDeduction2","Pay")">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>