


<li class="nav-item nav-category"><span class="nav-link">Provident Fund</span></li>


<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#singleT" aria-expanded="false" aria-controls="singleT">
        <span class="menu-title">Provident Fund</span>
        <i class="icon-diamond menu-icon"></i>
    </a>
    <div class="collapse" id="singleT">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexJCEProvident","Staff")">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexSCEProvident","Staff")">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>
