
<li class="nav-item nav-category"><span class="nav-link">Reports</span></li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span class="menu-title">Bank List</span>
        <i class="icon-doc menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span class="menu-title">Bank Loans</span>
        <i class="icon-doc menu-icon"></i>
    </a>
</li>
<li class="nav-item">


    <a class="nav-link" data-toggle="collapse" href="#voucher" aria-expanded="false" aria-controls="voucher">
        <span class="menu-title">Vouchers</span>
        <i class="icon-doc menu-icon"></i>
    </a>
    <div class="collapse" id="voucher">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#"> SSNIT </a></li>
            <li class="nav-item"> <a class="nav-link" href="#"> Hire Purchase </a></li>
            <li class="nav-item"> <a class="nav-link" href="#"> Welfare </a></li>
            <li class="nav-item"> <a class="nav-link" href="#"> Loans </a></li>
            <li class="nav-item"> <a class="nav-link" href="#"> Insurance </a></li>
            <li class="nav-item"> <a class="nav-link" href="#"> Fastrec </a></li>

        </ul>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span class="menu-title">Pay Slips</span>
        <i class="icon-doc menu-icon"></i>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="#">
        <span class="menu-title">Pay List</span>
        <i class="icon-doc menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("IndexGeneralTrialPay","Pay")">
        <span class="menu-title">Trial Pay</span>
        <i class="icon-doc menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span class="menu-title">CTO</span>
        <i class="icon-doc menu-icon"></i>
    </a>
</li>
<li class="nav-item">


    <a class="nav-link" data-toggle="collapse" href="#summary" aria-expanded="false" aria-controls="summary">
        <span class="menu-title">Summaries</span>
        <i class="icon-doc menu-icon"></i>
    </a>
    <div class="collapse" id="summary">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#"> Bank </a></li>
            <li class="nav-item"> <a class="nav-link" href="#"> Pay </a></li>

        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="#">
        <span class="menu-title">Nominal Roll</span>
        <i class="icon-doc menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span class="menu-title">Cash List</span>
        <i class="icon-doc menu-icon"></i>
    </a>
</li>
