

<li class="nav-item nav-category"><span class="nav-link">Security</span></li>
<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#sec" aria-expanded="false" aria-controls="sec">
        <span class="menu-title">Security</span>
        <i class="icon-lock menu-icon"></i>
    </a>
    <div class="collapse" id="sec">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#">Users</a></li>
            <li class="nav-item"> <a class="nav-link" href="#"> User Roles</a></li>
            <li class="nav-item"> <a class="nav-link" href="#"> Reset Passwords</a></li>
            
        </ul>
    </div>
</li>