
<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#staff" aria-expanded="false" aria-controls="staff">
        <span class="menu-title">Staff</span>
        <i class="icon-people menu-icon"></i>
    </a>
    <div class="collapse" id="staff">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexRecruit","Staff")">Recruits</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexOfficerCadet","Staff")">Officer Cadets</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Senior CEs</a></li> 
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>